<section id="home">
  <div class="tp-fullscreen-container revolution">
     <div class="tp-fullscreen">
        <ul>
           <li data-transition="fade">
           <%= image_tag("video/Two-Swimmers.jpg", :alt => "", :data => {:bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat"}) %>
      <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900" data-start="800" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;">Lorem ipsum dolor sit amet.</div>
      <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900" data-start="1500" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptas.</div>
      <div class="tp-caption tp-fade fadeout fullscreenvideo"
  data-x="0"
  data-y="0"
  data-speed="1000"
  data-start="1100"
  data-easing="Power4.easeOut"
  data-elementdelay="0.01"
  data-endelementdelay="0.1"
  data-endspeed="1500"
  data-endeasing="Power4.easeIn"
  data-autoplay="true"
  data-autoplayonlyfirsttime="false"
  data-nextslideatend="true"
    data-dottedoverlay="twoxtwo"
    data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on" style="z-index: 1;">
      <%= video_tag "video/Two-Swimmers.mp4", "video/Two-Swimmers.webm", :preload => "none", :width => "100", :height => "100", :poster => "video/Two-Swimmers.jpg", :loop => "true" %>
      </div>
    </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
     </div>
  </div>
</section>
<div class="slide-portfolio-overlay"></div>

