<div class="navbar navbar-defaul">
  <div class="navbar-header">
     <div class="basic-wrapper">
        <div class="navbar-brand"> <a href="" id="logo"><h2>SHARE PHOTOS</h2></a></div>
     </div>
  </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
  </ul>
  </div>

  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="current"><a href="#home">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right" id="loginup">
      <li><a href=""><h3>LOGIN</h3></a></li>
      <li><a href=""><h3>SIGN UP</h3></a></li>
      <li><a></a></li>
    </ul>
  </nav>
</div>
<div class="slide-portfolio-overlay"></div>

